##[台号或账单号(7)空格(10)整单备注(12)空格(4)时间(8)\n]{1}
##[台号或账单(7)菜号(5)数量(4)制作方法(12)套餐号(2)等叫标记(1)时间(8)数量(4)客人数(4)\n]{1-N}
DC   XXX
016                                  01:15:20
#foreach( $item in $itemList )
$menu.tableId    02006 1                    0 01:15:20      12  
#end

016     02006 1                    0 01:15:20      12  
016     01003 12                   0 01:15:20      12  
016     03002 1                    0 01:15:20      12  
016     04002 1                    0 01:15:20      12  
016     06006 1                    0 01:15:20      12