<TableInfo size="$!size" errInfo="$!errInfo">
#foreach( $courseTab in $courseTabs )
 <TabNode>
    <Tab id="$courseTab.id"></Tab>
    <MenuInfo size="" errInfo="">
      <Menu id="" rate="" price="" qty="" pqty="" rebate="" status="">
        <Name></Name>
        <Desc></Desc>
        <File type="" format="" size="" src="" synctime=""></File>
      </Menu> 
……
    </MenuInfo>
  </TabNode>
#end
  <TabNode>
    <Tab id=""> </Tab>
    <MenuInfo size="" errInfo="">
      <Menu id="" rate="" price="" qty="" pqty="" rebate="" status="">
        <Name></Name>
        <Desc></Desc>
        <File type="" format="" size="" src="" synctime=""></File>
      </Menu> 
……
    </MenuInfo>
  </TabNode>
……
<TabInfo>