<OrderInfo size="$!courseLists.size()" errInfo="$!errInfo">
#foreach( $course in $courseLists)
      <Menu id="$!course.courseNo" rate="" sumprice="$!course.sumPrice" price="$course.coursePrice" unit="$!course.courseUnit"  qty="$!course.courseCount" pqty="" rebate="" status="$!course.status">
        <Name>$course.courseName</Name>
        <Desc></Desc>
      </Menu>  
#end
</OrderInfo>