<SyncListInfo size="$courseFiles.size()" error="">
#foreach( $file in $courseFiles)
<File type="$file.type" format="" size="" src="$file.src" synctime="$file.synctime"></File>
#end
</SyncListInfo>