<TableInfo size="$!size" errInfo="$!errInfo">
#foreach( $ipad in $ipadList )
  <Table id="$ipad.tableId" caps="$ipad.caps" type="$ipad.type" status="$ipad.status" time="$ipad.time" booker="$ipad.booker" tel="$ipad.tel"/>
#end
</TableInfo>